<div id="<%= dom_id blog %>">
  <p>
    <strong>Titre:</strong>
    <%= blog.titre %>
  </p>

  <p>
    <strong>Contenu:</strong>
    <%= blog.contenu %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= blog.date %>
  </p>

  <p>
    <strong>Réalisateur:</strong>
    <%= blog.réalisateur %>
  </p>

  <p>
    <strong>Sortie:</strong>
    <%= blog.sortie %>
  </p>

  <p>
    <strong>Categorie:</strong>
    <%= blog.categorie %>
  </p>

  <p>
    <strong>Auteur:</strong>
    <%= blog.auteur %>
  </p>

</div>
